body{
    font-family: sans-serif
  }
  h2{
    border: 0px solid;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: blue;
    color: white
  }
  ul > li{
    list-style-type: none;
    margin-top: 40px;
    margin-left: -30px;
  }
  ul:nth-child(1){
    margin-top: -800px;
    margin-left: -200px
  }
  h1{
    margin-top: -50px;
    margin-left: 60px
  }
  .ul2{
    padding-top: 200px;
    margin-left: -200px
  }
  main span:nth-child(2){
    border: 1px solid;
    background-color: blue;
    color: white;
    padding: 3px;
    border-radius: 5px
    
  }
  main > h1 {
    margin-top: 50px;
    margin-left: 10px;
    display: inline-block
  }
  .codinglab{
    margin-top: -80px;
    
  }
  h1:nth-child(3){
    font-size: 24px
  }
  h1:nth-child(2){
    font-size: 24px
  }
  span{
    margin-left: 200px;
    cursor: pointer
  }
  input{
    margin-left: 120px;
    padding-right: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px
   
  }
  .flex-container {
    display: flex;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 300px;
    height: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    margin-right: -120px;
    margin-left: 170px;
    border-radius: 10px
  }
  .flex-container span{
    margin-left: 0px;
    
  }
  .flex-container h4{
    margin-top: -50px
  }
  .flex-container > div:nth-child(1){
    background-color: #b8dbd9
  }
  .flex-container > div:nth-child(2){
    background-color: #ffc662
  }
  .flex-container > div:nth-child(3){
    background-color: #b0b1b0
  }
  .flex-container h1{
      color: black;
      margin-left: 0px;
    font-size: 33px
  }
  table{
    margin-left: -800px;
    margin-top: 220px;
  }
  table th,td{
    border: 0px solid;
    padding: 20px;
    padding-right: 40px
  }
  table th{
    font-size: 25px;
    text-align: start
  }
  img{
    display:inline-block;
    border-radius: 30px;
    margin-left: 70px
  }